*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d380c0;
}
.msgs {
    width: 100vw;
    overflow-y: auto;
    background: rgb(92, 0, 128);
}
.msg{
    padding: 5px;
    font-size: 24px;
    background: #f8c0ff;
    box-shadow: 2px 2px 2px #aa43bf;
    margin: 10px; 
    border-radius: 15px;
    color: #550544;
}

form{
    width: 100vw;
}

form div {
    display: flex;
}

input{
    flex: 1;
    font-size: 24px;
}

button{
    font-size: 30px;
    background-color: #890fa1;
    color: #550544;
}
.exit{
    background-color: #6a0877;
    width: 100vw;
    overflow-y: auto;
    color: #480d53;
}