<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
     <form action="/logout">
        <button class="exit">Exit</button>
    </form>
    
    <div class="msgs" id="msgs">
        {% for m in msgs %}
        <!-- msgs: [(bob,hi)] -->
        <div class="msg">{{ m[0] }}: {{ m[1]|safe }}</div>
        {% endfor %}
    </div>

   
    <form method="post">
        <div>{{ sysmsg }}</div>

        <div>
            <input type="text" name="msg" required placeholder="Msg...">
            <button>Send</button>
        </div>
    </form>

    
    {% if is_admin %}
         <form action="/admin">
        <button class="admins">Админ</button>
    </form>
       
    {% endif %}
    <script>
        document.getElementById('msgs').scrollTop = 1000000;

    </script>

</body>

</html>
